#new{
    display:flex;
    margin:auto;
    margin-bottom: 20px;
}

.gridContainer{
    display: flex;
    height:700px;
    width:700px;
    flex-wrap: wrap;
    margin:auto;
    background-color: black;

}

.gridItem{
    border: 1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1/1;
}

#choices{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}