#new{
    display:flex;
    margin:auto;
}

.gridContainer{
    display: flex;
    height:700px;
    width:700px;
    flex-wrap: wrap;
    margin:auto;
    padding: 50px;
    align-items: center;
    gap:0;
}

.gridItem{
    border: 1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1/1;
}