#new{
    display:flex;
    margin:auto;
    margin-bottom: 20px;
}

.gridContainer{
    display: flex;
    height:700px;
    width:700px;
    flex-wrap: wrap;
    margin:auto;
    background-color: black;

}

.gridItem{
    border: 1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1/1;
}

#choices{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.choice{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#new, .choice{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    aspect-ratio: 1/0.5;
}